.menu-bar {
    height: 81vh;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    position: relative;
}

.menu-bar .ant-menu-item a {
    text-decoration: none;
}

.logout-btn-container {
    display: flex;
    justify-content: center;
}


