body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.page {
    display: flex;
    height: 100vh;
    background-color: #24252D;
}

.half-left {
    flex: 1;
    flex-basis:50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.half-left p {
    color: white;
    font-size: 20px; /* Adjust the font size as needed */
  }
  
.half-right {
    flex: 2;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    background-color: white;
    border-radius: 20px;
    margin: 20px;
}
.wrapper{
    display: flex;
  justify-content: center;
  }
  .wrapper .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
  }
  .wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: #F39B6D;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #24252D;
    border-left: 2px solid #E9E3B4;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }



